name: build
on:
  push:
    branches:
      - main
  pull_request: {}
concurrency: ${{ github.ref }}
permissions:
  contents: read
  pull-requests: read
  id-token: write

jobs:
  ci-required:
    runs-on: [ubuntu-latest]
    needs: [test]
    if: success()
    steps:
      - run: echo "Required checks passed"
  test:
    runs-on: [ubuntu-latest]
    steps:
      - name: checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0

      - name: tests
        run: |
          go test -vet=off -timeout 10m ./... -count=1 -race -v -p 1
