name: build
on:
  push:
    branches:
      - main
  pull_request: {}
concurrency: ${{ github.ref }}
permissions:
  contents: read
  pull-requests: read
  id-token: write

jobs:
  test:
    runs-on: [ubuntu-latest]
    steps:
      - name: checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0

      - name: tests
        run: |
          go test -vet=off -timeout 10m ./... -count=1 -race -v -p 1
